<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header/header :: header"></head>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/sidebar/sidebar :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/topbar/topbar :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Website</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Show/Hide</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Website</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Show/Hide</th>
                                    <th>Edit</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="key:${allkeys}" class="text-center">
                                        <td th:text="${key.website}"></td>
                                        <td th:text="${key.username}"></td>
                                        <td class="d-flex p-2"><input class="form-control" type="password" th:value="${key.password}" th:id="${key.website+key.username}"></td>
                                        <td><a class="btn btn-primary" th:attr="onclick=|showValue('${key.website+key.username}')|"><i class="fa fa-eye" th:id="${key.website+key.username+'_eye'}"></i></a></td>
                                        <td><a class="btn btn-secondary" th:href="@{/keys/register-key}+'?id='+${key.id_key}"><i class="fa fa-edit"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
    <div th:replace="fragments/footer/footer :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
</div>
    <div th:replace="fragments/footer/footer :: all-js-scripts"></div>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

    <script>
        function showValue(id){
            let value = document.getElementById(id);
            let button = document.getElementById(id+'_eye')
            if(value.type === "text"){
                value.type="password";
                button.classList.remove('fa-eye-slash');
                button.classList.add('fa-eye');
            }else{
                button.classList.remove('fa-eye');
                button.classList.add('fa-eye-slash');
                value.type="text";
            }
        }
    </script>

</body>

</html>